
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Big Shoulders Display", sans-serif;
}
.container{
    align-items: center;
    justify-content: center;
}
.card{
    color: #fff;
}
.card p{
    margin-top: 40px;
    margin-bottom: 80px;
}
.card-container{
    padding: 40px;
}
.card-1{
    background: hsl(31, 77%, 52%);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    }
.card-2{
    background: hsl(184, 100%, 22%);
}
.card-3{
    background: hsl(179, 100%, 13%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.btn-1{
    color: hsl(31, 77%, 52%);
}.btn-2{
    color:  hsl(184, 100%, 22%);
}
.btn-3{
    color: hsl(179, 100%, 13%);
}


button{
    padding: 15px;
    border:none;
    outline: none;
    width: 120px;
    border-radius: 20px;
    background: white;
}
button:hover{
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    transition: all 1s;
}
